@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root{
    --gray: #C4C4C4;
}

[x-cloak] { display: none !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.grid-container  {
    display: grid;
    grid-template-columns: 4fr 4fr 2fr;
}

.grid-container > .element {
    width: 100%;
    padding: 1.2em 1em;
    font-size: 1.4rem;
    font-weight: 600;
    border: 2px solid var(--gray);
}


.nav--link__collapse {
    box-shadow: 7px 19px 19px -4px rgba(0,0,0,0.18) inset;
    -webkit-box-shadow: 7px 19px 19px -4px rgba(0,0,0,0.18) inset;
    -moz-box-shadow: 7px 19px 19px -4px rgba(0,0,0,0.18) inset;
}
